
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

.navbar-wrapper{
	height: 7rem;
	font-family: 'Freckle Face';
}

body > #root > div {
	height: 100vh;
  }

.custom-shape-divider-top-1680099723 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
